<!DOCTYPE html>
<html>
  <head>
    <title>Employee Detail</title>
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees">Employee List</a></h3>
      <h1>Employee Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>First Name</td>
            <td>:</td>
            <td><%= employee.firstName %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>:</td>
            <td><%= employee.lastName %></td>
          </tr>
          <tr>
            <td>Hire Date</td>
            <td>:</td>
            <td><%= moment(employee.hireDate).format('YYYY-MM-DD') %></td>
          </tr>
          <tr>
            <td>Role</td>
            <td>:</td>
            <td>$<%= employee.role %></td>
          </tr>
          <tr>
            <td>Favourite Joke</td>
            <td>:</td>
            <td>$<%= employee.favouriteJoke %></td>
          </tr>
          <tr>
            <td>Favourite Quote</td>
            <td>:</td>
            <td>$<%= employee.favouriteQuote %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/employees/edit/<%= employee._id%>">EDIT</a></h3>
      <form action="/employees/delete/<%= employee._id%>" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>